
body {
    font-family: 'Stardos Stencil', Arial, sans-serif;
    margin: 0;
    background-color: #f4fc9d;
    color: #000000;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 15px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    background: #556b2f;
    color: #b8ff91;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
