body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4fc9d; /* color pastel suave */
    text-align: center;
    padding: 20px;
}

/* Título principal */
h1 {
    color: rgb(0, 0, 0);
    padding: 10px;
}

/* Inputs */
input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #555;
    width: 220px;
    text-align: center;
}

/* Botón */
button {
    margin: 10px;
    padding: 12px 20px;
    background: #7fa650;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #6a8c43;
}

/* Resultado */
#resultado {
    color: #000;
    font-size: 24px;
    margin-top: 15px;
}
